@font-face {
    font-family: "Dosis";
    src: local("/assets/font/Balsamiq_Sans/BalsamiqSans-Regular.ttf"),
     url(~assets/font/Balsamiq_Sans/BalsamiqSans-Regular.ttf) format("truetype");
}
/* @font-face {
    font-family: "Nunito";
    src: local("/assets/font/Nunito/Nunito-Bold.ttf"),
     url(~assets/font/static/Nunito-Bold.ttf) format("truetype");
} */

html {
    font-family: "Dosis";
    /* font-family: "Nunito"; */
}