@font-face {
    font-family: "Dosis";
    src: local("/assets/font/M_PLUS_Rounded_1c/MPLUSRounded1c-Medium.ttf"),
     url(~assets/font/M_PLUS_Rounded_1c/MPLUSRounded1c-Medium.ttf) format("truetype");
}
/* @font-face {
    font-family: "Nunito";
    src: local("/assets/font/Nunito/Nunito-Bold.ttf"),
     url(~assets/font/static/Nunito-Bold.ttf) format("truetype");
} */

html {
    font-family: "Dosis";
    /* font-family: "Nunito"; */
}